<h1>SMM2 Bingo</h1>

<table id="bingoTable">
  <tr>
    <td class="bingo-spot" *ngFor="let condition of row1; let i = index" [id]="'row1-col' + i" [title]="condition.description" (click)="toggleCell(condition, $event)">
      {{ condition.text }}
    </td>
  </tr>
  <tr>
    <td class="bingo-spot" *ngFor="let condition of row2; let i = index" [id]="'row2-col' + i" [title]="condition.description" (click)="toggleCell(condition, $event)">
      {{ condition.text }}
    </td>
  </tr>
  <tr>
    <td class="bingo-spot" *ngFor="let condition of row3; let i = index" [id]="'row3-col' + i" [title]="condition.description" (click)="toggleCell(condition, $event)">
      {{ condition.text }}
    </td>
  </tr>
  <tr>
    <td class="bingo-spot" *ngFor="let condition of row4; let i = index" [id]="'row4-col' + i" [title]="condition.description" (click)="toggleCell(condition, $event)">
      {{ condition.text }}
    </td>
  </tr>
  <tr>
    <td class="bingo-spot" *ngFor="let condition of row5; let i = index" [id]="'row5-col' + i" [title]="condition.description" (click)="toggleCell(condition, $event)">
      {{ condition.text }}
    </td>
  </tr>
</table>