<h1>Bingo</h1>

<div id="settings">
  <input id="chkMulti" type="checkbox" [checked]="multiplayer" (change)="multiplayer = !multiplayer" />Multiplayer
  <br/>
  <button id="btnGenerate" (click)="generateCard_click()">Generate New Card</button>
</div>

<br/>

<table id="bingoTable" class="hidden">
  <tr *ngFor="let row of rows; let rowIndex = index">
    <td class="bingo-spot" *ngFor="let condition of row; let colIndex = index" [id]="'row' + rowIndex + '-col' + colIndex" [title]="condition.description" (click)="toggleCell(condition, $event)" [@toggleUntoggle]="condition.toggled? 'toggled' : 'untoggled'">
      {{ condition.text }}
    </td>
  </tr>
</table>