<h1>Quest</h1>

<div id="settings">
  <input id="chkMulti" type="checkbox" [checked]="multiplayer" (change)="multiplayer = !multiplayer" />Multiplayer
  <br/>
  <button id="btnGenerate" (click)="startQuest()">Start Quest!</button>
</div>

<div id="questArea" class="hidden">
  <h3>Active Quests</h3>
  <div id="activeQuests">
    <table>
      <tr>
        <td class="bingo-spot" @completeQuest (@completeQuest.done)="finishAnimation(quest)" *ngFor="let quest of activeQuests" (click)="completeQuest(quest, $event)">
          {{ quest.text }}
        </td>
      </tr>
    </table>
  </div>

  <h3>Completed Quests ({{ completedCount }})</h3>
  <div id="completedQuests">
    <table>
      <tr *ngFor="let completedRow of completedQuests">
        <td class="completed-quest" @completeQuest *ngFor="let quest of completedRow">{{ quest.text }}</td>
      </tr>
    </table>
  </div>
</div>