/* Add application styles & imports to this file! */
* {
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS';
}

.top-bar {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.highlight {
  font-weight: bold;
  color: darkgreen;
}

.hidden {
  visibility: hidden;
}

.bingo-spot {
  border: 1px solid white;
  width: 115px;
  height: 115px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.completed-quest {
  border: 1px solid white;
  width: 85px;
  height: 85px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 8pt;
}